/* --- Utilidades --- */
:root {
    --azul: #3C76FC;
    --dorado: #DCD907;
    --negro: #000000;
    --colorRadiante: linear-gradient(175deg, rgba(2, 0, 36, 1) 0%, rgba(58, 97, 124, 1) 17%, rgba(0, 212, 255, 1) 100%);
    --colorBody: linear-gradient(0deg, rgba(0,0,0,1) 17%, rgba(205,205,218,1) 48%, rgba(0,212,255,1) 100%);
    /* --- Fuentes --- */
    --fuenteHead: 'Satisfy', cursive;
    --fuenteBody: 'Archivo Narrow', sans-serif;
    --fuenteFoot: 'Cinzel', serif;
}
body {
    background-color: red;
}
h1{
    text-align: center;
    font-size: 45px;
    font-family: var(--fuenteHead);
}
/* --- Footer ---*/
.miFooter{
    font-family: var(--fuenteHead);
    color: var(--negro);
    font-size: 25px;
}
table{
    text-align: center;
}